.container{width:960px;}
#head{height:90px;padding-top:20px;}
#head h1{float:left;width:172px;height:60px;text-indent:-10000px;background:url('../imges/logo.gif') no-repeat;}
#head .hotline{width:261px;height:100%;float:right;}
#head .hotline h4{width:261px;height:22px;background:url('../imges/hotline2.gif') no-repeat;}
#head .hotline a{display:inline-block;text-indent:-100000px;width:65px;}
#head .hotline a:nth-child(3){margin-left:5px;width:100px;margin-right:8px;}
#head .hotline{background:url('../imges/hotline2.gif') no-repeat;}
#content{padding-top:51px;height:479px;background:#F9F9F9;}
#content .banner{padding-left:95px;width:506px;float:left;}
#content .form{width:382px;height:378px;float:right;background:#fff;border:1px solid #ccc;padding-left:20px;font-size:12px;color:#666;line-height:36px;}
#content .form .user{font-size:16px;line-height:36px;font-weight:bold;color:#666;background:url('../imges/line.gif') no-repeat bottom center;}
#content .form .input{margin-top:10px;}
#content .form .input p>input{width:253px;height:28px;border:1px solid #666;background:#F7F7F7;}
#content .form .input>p:nth-child(2){padding-left:60px;line-height:30px;}
#content .form .password p>input{width:253px;height:28px;border:1px solid #666;background:#F7F7F7;}
#content .form .password>p:nth-child(2){padding-left:60px;line-height:30px;}
#content .form .confirm p>input{width:253px;height:28px;border:1px solid #666;background:#F7F7F7;}
#content .form .confirm>p:nth-child(2){padding-left:60px;line-height:30px;}
#content .form .check p>input{width:67px;height:28px;border:1px solid #666;background:#F7F7F7;}
#content .form .check p>span{font-size:20px;line-height:28px;vertical-align:middle;}
#content .form .check>p:nth-child(2){padding-left:60px;line-height:30px;}
#content .form .checkbox>p{padding-left:60px;line-height:20px;}
#content .form .submit>p{padding-left:60px;line-height:20px;margin-top:10px;font-size:15px;line-height:30px;}
#footer{padding-top:20px;}
#footer p{font-size:12px;line-height:30px;text-align:center;color:#666;}
#footer ul{width:540px;margin:0 auto;}
#footer ul>li{float:left;font-size:12px;line-height:15px;width:60px;text-align:center;border-right:1px solid #666;}


