#top{height:33px;background:#F4F4F4;padding-left:75px;border:1px solid #ccc;}
#top .left{width:219px;height:100%;float:left;}
#top .left a span{font-size:12px;line-height:33px;} 
#top .left a span{width:63px;padding-left:15px;background:url(../imges/mobile.gif) no-repeat left bottom;}
#top .left>span{margin-left:5px;padding-left:5px;border-left:1px solid black;font-size:12px;}
#top .right{width:685px;height:100%;float:right;padding-right:83px;font-size:12px;line-height:33px;}
#top .right>p{float:left;color:#666;}
#top .right>p>span{padding-left:9px;padding-right:9px;}
#top .right>p>span>a{color:#E11121;}
#top .right>p>span:nth-child(1){border-right:1px solid #E11121;}
#top .right>ul{float:left;}
#top .right>ul>li{float:left;}
#top .right>ul>li>span{padding-left:9px;padding-right:9px;border-left:1px solid #ccc;color:#666;}
#top .right>ul>li:nth-child(4)>span{color:black;}
#head{height:95px;/*background:blue;*/padding-left:75px;padding-top:20px;}
#head h1{width:200px;text-indent:-10000px;background:url(../imges/logo.jpg) no-repeat;height:48px;float:left;}
#head .devider{float:left;width:4px;height:66px;background:url(../imges/devider.gif) no-repeat;}
#head .com{width:153px;height:18px;float:left;margin-top:20px;margin-left:10px;background:url(../imges/taoxiecom.gif) no-repeat;}
#head .search{float:left;width:446px;height:70px;margin-left:41px;}
#head .search .search_box{width:405px;height:40px;padding-left:40px;background:url(../imges/searchbox2.gif) no-repeat;}
#head .search .search_box .input{width:300px;height:32px;/*margin-top:1px;*/}
#head .search .search_box .btn{width:56px;height:42px;opacity:0;}
#head .search>p{font-size:14px;height:27px;}
#head .search>p>span{padding:5px 10px;text-align:left;line-height:27px;}
#head .log .shoppingcar{display:block;width:262px;height:44px;background:url(../imges/cart2.gif) no-repeat;float:right;margin-right:73px;padding-left:116px;padding-top:10px;margin-top:5px;}
#head .log .shoppingcar span{color:#63A9A2;}
#nav{height:50px;padding-top:8px;background:#F53838;}
#nav .nav_ul{height:100%;padding-left:75px;background:#CD2A2D;}
#nav .nav_ul>li{float:left;padding-left:23px;padding-right:23px;font-size:18px;line-height:42px;color:white;}
#nav .nav_ul>li>a{color:white;}
#nav .nav_ul>li:nth-child(1){width:220px;padding:0;padding-left:30px;background:url(../imges/category_ar.gif) no-repeat 10px center;background-color:#BE2124;position:relative;}
#nav .nav_ul>li:hover{background-color:#A00000;}
#nav .nav_ul>li:nth-child(1):hover{background-color:#BE2124;}
#nav .nav_ul>li:nth-child(1)>ul{width:220px;position:absolute;left:0;top:42px;border:2px solid #BE2124;background-color:white;z-index:1000;display:none;}
#nav .nav_ul>li:nth-child(1):hover>ul{display:block;}
#nav .nav_ul>li:nth-child(1)>ul>li{height:76px;width:220px;border-bottom:1px solid #ccc;}
#nav .nav_ul>li:nth-child(1)>ul>li>h4{color:red;font-size:16px;text-align:left;line-height:26px;padding-left:10px;}
/*#nav .nav_ul>li:nth-child(1)>ul>li>p{height:17px;}*/
#nav .nav_ul>li:nth-child(1)>ul>li>p{font-size:13px;color:#666;line-height:17px;}
#nav .nav_ul>li:nth-child(1)>ul>li>p>span{padding:14px 7px;font-size:12px;}
#content ul>li{float:left;font-size:13px;line-height:30px;}
#content .image{height:642px;width:560px;border:1px solid #ccc;float:left;}
#content .image>img{width:558px;height:558px;}
#content .image>.smallImg{height:84px;border-top:1px solid #ccc;}
#content .introduce{height:642px;width:560px;float:right;/*border:1px solid #ccc;*/}
#content .introduce>p{font-size:13px;line-height:25px;padding-left:20px;}
#content .introduce>h4{font-size:13px;color:red;padding-left:20px;}
#content .introduce .mingzi{font-size:16px;font-weight:bold;height:31px;border-bottom:1px dotted #ccc;}
#content .introduce .price{font-size:13px;}
#content .introduce .price>i{font-size:25px;color:red;}
#content .introduce .star span{display:inline-block;height:15px;overflow:hidden;}
#content .introduce .sizeList{height:262px;background-color:#FEFCF2;border:1px dotted red;}
#content .introduce .sizeList p{font-size:13px;line-height:35px;padding-left:20px;}
#content .introduce .sizeList .num button{width:20px;height:20px;border:1px solid #ccc;}
#content .introduce .sizeList .num input{width:58px;height:20px;border:1px solid #ccc;text-align:center;}
#content .introduce .sizeList .buy{padding-left:20px;}
#content .introduce .paystyle{padding-left:0;font-size:12px;line-height:30px;}
#content .introduce .paystyle a{padding-left:20px;margin-left:5px;}
#content .introduce .paystyle a:nth-child(1){background:url('../imges/alipay.gif') no-repeat;}
#content .introduce .paystyle a:nth-child(2){background:url('../imges/tenpay.gif') no-repeat;}
#content .introduce .paystyle a:nth-child(3){background:url('../imges/ebank.gif') no-repeat 0 2px;}
#content .introduce .paystyle a:nth-child(4){background:url('../imges/creditcard.gif') no-repeat 0 2px;}
#content .introduce .paystyle a:nth-child(5){background:url('../imges/cashcard.gif') no-repeat 0 2px;}
#content .introduce .paystyle a:nth-child(6){background:url('../imges/cod.gif') no-repeat 0 2px;}
#content .introduce dl{height:48px;background-color:#F7F7F7;}
#content .introduce dl dt{font-size:13px;height:48px;color:#AFAFAF;background-color:#EBEBEB;padding:6px;}
#content .introduce dl dt,#content .introduce dl dd{float:left;}
#content .introduce dl dd ul>li{height:48px;line-height:15px;padding:6px 10px;}
#share p{width:560px;float:left;font-size:13px;}
#share p>a{float:right;padding-left:20px;background:url('../imges/addfav.gif') no-repeat;}
#like{padding-top:30px;}
#like .enjoy{height:307px;border:1px solid #ccc;}
#like .enjoy h4{height:32px;font-size:13px;line-height:32px;font-weight:bold;color:#666684;background-color:#F5F5F5;padding-left:10px;}
#like .enjoy h4>a{display:inline-block;width:15px;height:14px;background:url('../imges/bfd_logo_ch.gif') no-repeat right 0;float:right;margin-top:10px;margin-right:10px;}
#like .enjoy .enjoy_list{width:160px;height:275px;float:left;font-size:12px;margin-left:30px;}
#like .enjoy .enjoy_list p{text-align:center;}
#like .enjoy .enjoy_list p>span{color:red;font-size:20px;}
#detail{margin-top:10px;}
#detail .recent{width:220px;border:1px solid #ccc;}
#detail .recent ul li{padding-left:45px;}
#detail .recent ul li img{border-bottom:1px solid #ccc;}
#detail .recent h4{height:33px;font-size:14px;line-height:33px;background:#F5F5F5;text-align:center;}
#detail .recent p{padding-left:50px;}
#detail .details{width:960px;border:1px solid #ccc;}
#detail .details .tab ul>li{float:left;padding:9px 22px;}
#detail .details .tab{background:#F5F5F5;}
#detail .details .product_detail{padding:10px;}
#detail .details .product_detail .information{border-bottom:1px solid #ccc;}
#detail .details .product_detail .information tbody>tr>td{width:319px;font-size:12px;color:black;padding-top:10px;}



























/*leg部分*/
#leg{height:160px;background-color:#F1F1F1;border-bottom:1px solid #fff;padding-top:16px;}
#leg .erweima{width:232px;height:100%;margin-left:204px;padding-left:22px;padding-right:22px;border-left:1px solid #fff;border-right:1px solid #fff;font-size:12px;float:left;}
#leg .erweima>ul>li{width:90px;float:left;font-size:12px;line-height:28px;}
#leg dl{width:143px;height:100%;float:left;border-right:1px solid #fff;}
#leg dl>dt{font-size:17px;text-align:center;line-height:36px;}
#leg dl dd{font-size:12px;text-align:center;line-height:22px;}
#footer{height:248px;background:#F1F1F1;}
#footer .server{height:64px;float:left;padding-top:20px;padding-left:100px;}
#footer .server ul>li{float:left;padding-left:66px;}
#footer .link{height:29px;width:650px;float:left;margin:10px 300px;}
#footer .link ul>li{padding:0 11px;float:left;font-size:12px;border-right:1px solid #000;}
#footer .friendlink{height:29px;width:750px;float:left;margin:5px 250px;}
#footer .friendlink h4{float:left;font-size:12px;font-weight:bold;color:#000;}
#footer .friendlink ul{float:left;}
#footer .friendlink ul>li{padding:0 5px;float:left;font-size:12px;border-right:1px solid #000;}
#footer .copyright{text-align:center;margin:0 300px;font-size:12px;}
#footer .container>p{text-align:center;margin:0 auto;font-size:12px;line-height:20px;}
#footer .last{width:950px;margin:10px auto;}